Django==1.6.1
Markdown==2.3.1
Pillow==2.5.2
Whoosh==2.6.0
distribute
django-appconf==0.6
django-avatar==2.0
django-bootstrap-toolkit==2.15.0
django-decorators==0.1.1
django-filter==0.7
django-floppyforms==1.1
django-notification==1.1.1
django-registration==1.0
django-social-auth==0.7.28
djangorestframework==2.3.10
djangorestframework-gis==0.1
httplib2==0.8
oauth2==1.5.211
psycopg2
python-openid==2.2.5
simplejson==3.3.1
six==1.6.1
wsgiref==0.1.2
