#psycopg2
django-social-auth==0.7.28
django-floppyforms==1.1
python-openid==2.2.5
oauth2==1.5.211
django-registration
django-bootstrap-toolkit>=2.15.0
djangorestframework>=2.3.8
markdown>=2.3.1
django-filter>=0.7
django-notification
django_decorators
json
djangorestframework-gis
django-avatar
whoosh
# integracja
#git+https://dwa@bitbucket.org/martut/auth_page.git
#git+https://dwa@bitbucket.org/martut/base_page.git
#git+https://dwa@bitbucket.org/martut/dashboard.git
#git+https://dwa@bitbucket.org/martut/django_auth.git
#git+https://dwa@bitbucket.org/martut/django_geojson_rest.git
#git+https://dwa@bitbucket.org/martut/django_geonition_client.git
#git+https://dwa@bitbucket.org/martut/django_geonition_utils.git
#git+https://github.com/recoded-co/django_images.git
#git+https://github.com/recoded-co/geodjango-map-layers.git
#git+https://dwa@bitbucket.org/martut/geoforms.git
#git+https://dwa@bitbucket.org/dwa/geonition_aliases.git
#git+https://dwa@bitbucket.org/dwa/geoportal.git
#git+https://dwa@bitbucket.org/dwa/gmlupload.git
#git+git://github.com/geonition/planproposal
#git+https://dwa@bitbucket.org/mdminc/softgis_dev.git


