{% extends "zr/base.html" %}
{% load i18n avatar_tags %}
{% load url from future %}

{% block navbar %}
    <div class="pagina">
        <img class="logo_op" src="/static/images/ap_maj-11.png" alt=""/>
    </div>
{% endblock %}

{% block extra_head %}
    <link href='/static/css/registration.css' rel='stylesheet' type='text/css'/>
    <link href='/static/css/btn_m.css' rel='stylesheet' type='text/css'/>
{% endblock %}

{% block content %}
<div class="back_row">
    <div class="center">
        <h2>{% trans "zdjęcie profilowe" %}</h2>
        <div class="round">
            {% avatar user 174 %}
        </div>
        <!--{% if not avatars %}
            <p>{% trans "You haven't uploaded an avatar yet. Please upload one now." %}</p>
        {% else %}
            <form method="POST" action="{% url 'avatar_change' %}">
                <ul>
                    {{ primary_avatar_form.as_ul }}
                </ul>
                <p>{% csrf_token %}<input type="submit" value="{% trans "Choose new Default" %}" /></p>
            </form>
        {% endif %}-->
        <form enctype="multipart/form-data" method="POST" action="{% url 'avatar_add' %}">
            <span class="block gap margin"><input type="file" name="avatar" id="id_avatar"/></span>
            <br/>
            <span class="margin">
                <span class="block">
                    {% csrf_token %}
                    <input class="btn-b btn-sm-n" type="submit" value="{% trans "Akceptuj" %}" />
                </span>
                <span class="block">
                    <a class="btn-a btn-sm-n" href="{% url 'dashboard' %}">
                        {% trans "Wróć" %}
                    </a>
                </span>
            </span>
        </form>
    </div>
</div>
{% endblock %}