{% extends "zr/base.html" %}
{% load i18n %}
{% load url from future %}



{% block onload %} init() {% endblock %}


{% block content %}


<div class="row" >
  <div class="col-xs-12 col-sm-6 col-md-8">{% trans "Mapa" %}</div>
  <div class="col-xs-6 col-sm-6 col-md-4">{% trans "Dyskusja" %}</div>
</div>
<div class="row">
  <div class="col-xs-12 col-sm-6 col-md-8">
        {% include "zr/dashboard/map.html" %}
  </div>
  <div class="col-xs-6 col-sm-6 col-md-4" ng-app="zd">
      <p>Tutaj jest czat</p>
      <div ng-controller="apiList" >
          <button  ng-click="showAll()">{% trans 'Rozwiń wszystkie' %}</button>
          <!--<button  ng-click="addVertical()">{% trans 'Dodaj nowy wątek' %}</button>-->
          <div ng-init="user='{{ user }}'"></div>
          <div class="media" ng-repeat="post in tree  " class="media-list" ng-include="'tree_item_renderer.html'">
          </div>

            <script type="text/ng-template"  id="tree_item_renderer.html">

                    <div class="media-body"  style="margin-left: 20px;">
                     <!-- id:{[{ post.id }]}--parent:{[{ post.parent }]} rozwin:{[{ post.rozwin }]}  wszystkie {[{ showallposts }]} user: {[{ user  }]} -->
                      <p ng-click="comment(post)">{[{ post.content }]}</p>
                        <button ng-hide="post.nodes.length==0" ng-click="showOneDown(post)">{% trans 'Rozwiń' %}</button>
                         <button ng-hide="'{{ user }}'=='AnonymousUser'" ng-click="scoreUp(post)"> <span  class="glyphicon glyphicon-thumbs-up"></span></button>
                         <button ng-hide="'{{ user }}'=='AnonymousUser'" ng-click="scoreDown(post)"> <span class="glyphicon glyphicon-thumbs-down"></span></button>{[{ post.score || 0 }]}

                            <textarea ng-hide="!(post.zmiennac!=undefined && post.zmiennac==true)" ng-model="post.text" class="form-control" rows="3"></textarea>
                            <input type="hidden" ng-model="post.plan" value="">

                            <button ng-hide="!(post.zmiennac!=undefined && post.zmiennac==true)" ng-click="addDown(post)">{% trans 'Komentarz do wypowiedzi' %}</button>
                            <button ng-hide="!(post.zmiennac!=undefined && post.zmiennac==true)" ng-click="delete(post)">{% trans 'Kasuj' %}</button>
                            <div ng-hide="!(post.rozwin!=undefined && post.rozwin==true )&& showallposts" >
                                <div class="media" ng-repeat="post in post.nodes "   ng-include="'tree_item_renderer.html'">
                                </div>
                            </div>
                    </div>
            </script>


      </div>
  </div>
</div>
{% endblock %}
