{% extends "zr/base.html" %}
{% load i18n %}
{% load url from future %}



{% block onload %} init() {% endblock %}


{% block content %}


<div class="row" >
  <div class="col-xs-12 col-sm-6 col-md-8">{% trans "Mapa" %}</div>
  <div class="col-xs-6 col-sm-6 col-md-4">{% trans "Dyskusja" %}</div>
</div>
<div class="row">
  <div class="col-xs-12 col-sm-6 col-md-8">
        {% include "zr/dashboard/map.html" %}
  </div>
  <div class="col-xs-6 col-sm-6 col-md-4" ng-app="zd">
      <p>Tutaj jest czat</p>
      <div ng-controller="apiList">
          <div>
             configurations:  {[{configurations|json}]}
             rates:   {[{rates |json}]}
             subjects:   {[{ subjects |json }]}
             posts:   {[{ posts |json }]}
             geometries:   {[{ geometries |json }]}
             plans:   {[{ plans |json }]}
          </div>
          <div ng-init="friends = [
              {name:'John', age:25, gender:'boy'},
              {name:'Jessie', age:30, gender:'girl'},
              {name:'Johanna', age:28, gender:'girl'},
              {name:'Joy', age:15, gender:'girl'},
              {name:'Mary', age:28, gender:'girl'},
              {name:'Peter', age:95, gender:'boy'},
              {name:'Sebastian', age:50, gender:'boy'},
              {name:'Erika', age:27, gender:'girl'},
              {name:'Patrick', age:40, gender:'boy'},
              {name:'Samantha', age:60, gender:'girl'}
            ]">
          <div ng-repeat="zmienna in friends | more:'age':25">
                    {[{zmienna}]}
          </div>

      </div>

  </div>
</div>
{% endblock %}
