{% load i18n %}
{% load url from future %}
{% load isloged %}
<div  class="post_content">
    <div class="post-list">
    <div class="toolbox">
        <span class="left">
               <button type="button" class="btn btn-xs"  ng-click="addBasePost = true  | trackEvent:'Dodaj komentarz':'Button clicked':user ">
                <span class="glyphicon glyphicon-comment"></span>{% trans ' dodaj' %}
            </button>
        </span>
    </div>


        <div ng-show="addBasePost">
            <textarea     ng-model="base_post.text"
                          class="form-control"
                          rows="3">
            </textarea>
            <div class="allign_right">
                <div class="fileinput fileinput-new" data-provides="fileinput">
                  <button type="button" class="btn btn-xs btn-file btnwhite btngrey" ng-show="post.is_owned"><span class="glyphicon glyphicon-paperclip"></span><input name="..." type="file" value="{[{ post.id }]}" multiple file-change /></button>
                </div>
                <button    type="button" class="btn btn-xs btnblue"
                              ng-click="deleteBP(base_post);addBasePost = false  | trackEvent:'Usuń':'Button clicked':user ">
                    {% trans 'usuń' %}
                </button>
                <button type="button" class="btn btn-xs btnred"
                        ng-click="addVertical(base_post);addBasePost = false  | trackEvent:'Zapisz':'Button clicked':user ">
                     {% trans 'publikuj' %}
                </button>
            </div>
            <!--
            <div style="float:right">
                  <button type="button" class="btn btn-xs"  ng-click="addVertical(base_post);addBasePost = false  | trackEvent:'Zapisz':'Button clicked':user ">
                        {% trans 'Zapisz' %}
                  </button>

                  <button type="button" class="btn btn-xs"  ng-click="deleteBP(base_post);addBasePost = false  | trackEvent:'Usuń':'Button clicked':user ">
                       {% trans 'Usuń' %}
                  </button>-->
                <br/>
            </div>
            <div ng-init="user='{{ user }}'"></div>
        </div>
        <div    ng-repeat="post in tree">
            <div ng-class="{'media':true,
                            'media-list':true,
                            'dotedline':post.parent==null,
                            'main-post':post.parent==null,
                            'child-post':post.parent!=null}">
                <div ng-include="'tree_item_renderer.html'"></div>
            </div>
            <div ng-if="$last && !endTree" ng-class="{'dotedline':post.parent==null}">
                <span class="nextPost">
                    <button ng-click="addMorePosts(post,tree)" class="btn btn-xs">Następne komentarze</button>
                </span>
            </div>
        </div>
</div>
