{% load i18n %}
{% load url from future %}
{% load isloged %}
<div class="post_content">
  <div class="post-list">
    <div class="toolbox">
        <span class="left">
            <button
                ng-show="showallpoints"
                type="button"
                class="btn btn-xs btn-danger"
                ng-click="showDiscussion()|trackEvent:'Rozwiń wszystkie':'Button clicked':user:'':'' ">
                <span>{% trans 'Pokaż dyskusję' %}</span>
            </button>

            <button id="date_button" class="btn btn-xs"
                  ng-int="rev_d=true;"
                  ng-click="reverse=rev_d; rev_d=!rev_d;data_arrow= !data_arrow;setDateSorting(rev_d) |trackEvent:'button Data':'Button clicked':user:'':'' ">
              {% trans 'Data' %}
                <span class="fa fa-caret-down fa-lg" ng-hide="data_arrow"></span>
                <span class="fa fa-caret-up fa-lg" ng-show="data_arrow"></span>
            </button>

            <button class="btn btn-xs"
                      ng-int="rev_nc=true;numcom_arrow=true;"
                      ng-click=" reverse=!rev_nc; rev_nc=!rev_nc;numcom_arrow=!numcom_arrow;setCommentsSorting(rev_nc)  | trackEvent:'Ilość komentarzy':'Button clicked':user ">
                  {% trans 'Ilość komentarzy' %}
                    <span class="fa fa-caret-down fa-lg" ng-hide="numcom_arrow"></span>
                    <span class="fa fa-caret-up fa-lg" ng-show="numcom_arrow"></span>
            </button>
        </span>

        <span class="right">
            <div class="input-group input-group-sm double-input">
                <input class="posts-search form-control" ng-model="search.content" placeholder="Znajdź kontekst rozmowy">

            <div class="input-group-btn" >
                <button class="btn posts-search-submit" ng-click="search(search.content)" style="border-right-width: 0px;border-radius: 0px;"><i class="fa fa-search fa-fw"></i>Szukaj</button>
            </div>

            <div class="dropdown input-group-btn">
                <button type="button" class="btn btn-xs dropdown-toggle my-toggle-select" id="dLabel" role="button" data-toggle="dropdown" href="" ng-click="searchdate.date='' ">
                    <div class="input-append">
                        <input type="hidden" class="input-large" data-ng-model="searchdate.date">
                            <span class="add-on">
                        <i class="fa fa-calendar fa-lg"></i><b class="caret"></b>
                    </span>{[{ searchdate.date | date:'yyyy-MM-dd' }]}
                            <span ng-hide="!searchdate.date" class="glyphicon glyphicon-remove" ng-click="searchdate.date='' "></span>
                    </div>
                </button>
                <ul class="dropdown-menu" style="left:-180px;" role="menu" aria-labelledby="dLabel">
                    <datetimepicker data-ng-model="searchdate.date"
                                    data-datetimepicker-config="{ dropdownSelector: '.my-toggle-select', startView:'day', minView:'day' }"></datetimepicker>
                </ul>

            </div>
            </div>
        </span>
    </div>
    <div ng-init="user='{{ user }}'"></div>
  </div>
    <!-- above has to be at the top all the time, add size to div below -->
  <div>
    <div id="{[{ post.geometry && !post.parent?post.geometry:'none' }]}"
         ng-repeat="post in tree ">
        <div ng-class="{'media':true,
                    'media-list':true,
                    'main-post':post.parent==null,
                    'dotedline':post.parent==null,
                    'child-post':post.parent!=null}">
            <div ng-include="'tree_item_renderer.html'"></div>
        </div>


        <!--<div ng-if="$last && !endTree" ng-class="{'dotedline':post.parent==null}">
                <span class="nextPost">
                    <button ng-click="addMorePosts(post,tree)" class="btn btn-xs">Następne komentarze</button>
                </span>
        </div>-->

    </div>
  </div>
</div>

<script type="text/javascript">
    $('.posts-search').keypress(function(e) {
      if (e.which == 13) {
        $(".posts-search-submit").click();

        return false;
      }
    });

</script>
