{% load i18n %}
{% load url from future %}

<div class="media-body dropbox"  style="margin-left: 20px;margin-right: 20px;">
    <em>{[{ post.author_name }]}({[{ post.date | date:'yyyy-MM-dd' }]}) napisał:</em>

    <p>{[{ post.content }]}</p>
    <ul ng-repeat="item in post.filep">
        <li>{[{ item.name }]}
            <a href="{% url 'fm' %}/{[{ item.id }]}" >
                <span class="glyphicon glyphicon-download"></span>
            </a>
        </li>
    </ul>
    <button type="button" class="btn btn-xs" ng-click="comment(post)">
    {% trans 'Dodaj komentarz' %}
    </button>
    <button type="button" class="btn btn-xs"  ng-hide="post.nodes.length==0" ng-click="showOneDown(post)">
    <span class="glyphicon glyphicon-plus"></span>
    </button>
    <button
        ng-hide="post.parent"
        ng-class="{'btn':true, 'btn-xs':true, 'btn-default':post.subscription}"
        ng-click="subscribe(post, post.subscription);post.subscription=!post.subscription;">
        {% trans 'Subscribe' %}
    </button>
    <button type="button" class="btn btn-xs"  ng-hide="'{{ user }}'=='AnonymousUser'"
         ng-click="scoreUp(post)">
         <span  class="glyphicon glyphicon-thumbs-up"></span>
    </button>

    <button type="button" class="btn btn-xs"    ng-hide="'{{ user }}'=='AnonymousUser'"
              ng-click="scoreDown(post)">
        <span class="glyphicon glyphicon-thumbs-down"></span>
    </button>
    {% trans 'ocena' %}: {[{ post.score || 0 }]}  {% trans 'komentarzy' %}: {[{ post.numcom || 0 }]}
    <input class="btn btn-xs" type="file" value="{[{ post.id }]}" multiple file-change>
    <br><br>
    Selected: {[{ files.length }]}

    <textarea     ng-hide="!(post.zmiennac!=undefined && post.zmiennac==true)"
                  ng-model="post.text"
                  class="form-control"
                  rows="3">
    </textarea>

    <input type="hidden" ng-model="post.plan" value=""/>
    <div style="float:right">
        <button type="button" class="btn btn-xs" ng-hide="!(post.zmiennac!=undefined && post.zmiennac==true)"
                ng-click="addDown(post)">
             {% trans 'Zapisz' %}
        </button>
        <button    type="button" class="btn btn-xs" ng-hide="!(post.zmiennac!=undefined && post.zmiennac==true)"
                      ng-click="delete(post)">
            {% trans 'Usuń' %}
        </button>
    </div>
    <div  ng-hide="!(post.rozwin!=undefined && post.rozwin==true )&& showallposts" >
        <div class="media"
             ng-repeat="post in post.nodes "
             ng-include="'tree_item_renderer.html'">
        </div>
    </div>
</div>