{% load i18n %}
{% load url from future %}
{% load avatar_tags %}
<div ng-class="{'tab-post':true}">
    <ul>
        <li> <!-- start here -->
            <img style="position:absolute;"
                        src="{[{ post.avatar_url }]}" alt="{[{ post.avatar_alt }]}" width="40px" height="40px" class="img-circle">
        </li>
        <li>
            <div class="media-body dropbox new_margin"> <!--   style="margin-left: 0px;margin-right: 0px;"  -->
                <div ng-class="{'media':true, 'post':post.parent==null,'sub_post':post.parent!=null}">
                    <div class="postContent"> <!-- style="display: inline-block; width: 100%;"-->
                        <span class="left">
                            <p class="head-autor"><em>{[{ post.author_name }]}({[{ post.date | fromToday }]})</em></p>
                            <p class="post-content" style="width:100%;">
                                {[{ post.content }]}
                            </p>
                            <div class="post-content-flist">
                                <ul class="fileList">
                                    <li ng-repeat="item in post.filep">
                                        <a class="filePL" href="fmen/download/{[{ item.file }]}"  target="_blank">
                                            <i class="fa fa-cloud-download"></i>&nbsp;&nbsp;{[{ item.name }]}
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </span>
                        <span class="right">
                            <button ng-hide="post.parent || !post.geometry" type="button" class="btn btn-xs btnwhite btngrey"
                                ng-click="zoom_chase(post) | trackEvent:'wyśrodkuj':'Button clicked':user:post.id ">
                                <i class="fa fa-dot-circle-o"></i>
                            </button>
                            <button ng-hide="post.parent"
                                ng-class="{'btn':true, 'btn-xs':true, 'btnwhite':true, 'btngrey':true}"
                                ng-click="subscribe(post, post.subscription);post.subscription=!post.subscription | trackEvent:'Subskrybuj':'Button clicked':user ">
                                <!-- TODO add pushed pin in case of subscription -->
                                <div ng-hide="post.parent==null && !post.subscription" class="mr-pushpin">&nbsp;</div>
                                <span ng-hide="post.parent==null && post.subscription" class="glyphicon glyphicon-envelope"></span>
                            </button>
                        </span>
                    </div>

                    <div style="display: inline-block; width: 100%;">
                        <div ng-class="{'left':true, 'margin-left':post.parent==null}">
                            <button type="button" class="btn btn-xs btnwhite btngrey"  ng-if="post.numcom>0"
                                    ng-click="showOneDown(post)  | trackEvent:'Rozwiń':'Button clicked':user ">

                                <!-- Ten fragment prawdopodobmnie jest do usunięcia, blokuje rozwijanie komentarzy
                                ng-disabled="!showallposts">-->
                                <i ng-if="showallposts==true" ng-hide="post.rozwin" class="fa fa-caret-up"></i>
                                <i ng-if="showallposts==true" ng-show="post.rozwin" class="fa fa-caret-down"></i>
                                <i ng-if="showallposts==false" ng-show="post.rozwin" class="fa fa-caret-down"></i>
                                    {[{ post.numcom || 0 }]} {% trans 'odpowiedzi' %}
                            </button>
                        </div>
                        <div class="right">
                         <button type="button" class="btn btn-xs btn-file btnwhite btngrey" ng-hide="'{{ user }}'=='AnonymousUser'" ng-disabled="post.sub_rates">
                            <input name="..." type="file" value="{[{ post.id }]}" multiple file-change /><div class="mr-clip">&nbsp;</div>
                         </button>
                            <button  class="btn btn-xs btngrey btnwhite"
                                ng-hide="'{{ user }}'=='AnonymousUser'" ng-disabled="post.sub_rates"
                                ng-click="scoreUp(post) | trackEvent:'score-up':'Button clicked':user ">
                                <div class="mr-handup">&nbsp;</div><span class="fontBl">{[{ post.positive_rate || 0 }]}</span> {% trans 'za' %}
                            </button>
                            <button  class="btn btn-xs btngrey btnwhite"
                                 ng-hide="'{{ user }}'=='AnonymousUser'" ng-disabled="post.sub_rates"
                                 ng-click="scoreDown(post) | trackEvent:'score-down':'Button clicked':user ">
                                 <div class="mr-handdown">&nbsp;</div> <span class="fontBl">{[{ post.negative_rate || 0 }]}</span> {% trans 'przeciw' %}
                            </button>
                            <button ng-hide="'{{ user }}'=='AnonymousUser'" class="btn btn-xs btnsea btnwhite" ng-click="comment(post) | trackEvent:'Dodaj Komentarz':'Button clicked':user:'':''">
                                <i class="fa fa-comment"></i>&nbsp;<span class="fontBold btnsea">{% trans 'skomentuj' %}</span>
                            </button>
                        </div>
                    </div>
             
                    </div>

                </div>
              </li>
        </ul>
    </div>

           <div class="add_comment">
                    <textarea ng-hide="!(post.zmiennac!=undefined && post.zmiennac==true)"
                              ng-model="post.text"
                              class="form-control"
                              rows="5" autofocus>
                    </textarea>
                    <input type="hidden" ng-model="post.plan" value=""/>
                    <div class="allign_right">
                        <div class="fileinput fileinput-new" data-provides="fileinput" ng-hide="!(post.zmiennac!=undefined && post.zmiennac==true)">
                            <button type="button" class="btn btn-xs btn-file btnwhite btngrey"><div class="mr-clip">&nbsp;</div><input name="..." type="file" value="{[{ post.id }]}" multiple file-change /></button>
                        </div>
                        <button type="button" class="btn btn-xs btnblue" ng-hide="!(post.zmiennac!=undefined && post.zmiennac==true)"
                              ng-click="delete(post) | trackEvent:'Usuń':'Button clicked':user "> {% trans 'usuń' %}
                        </button>
                        <button type="button" class="btn btn-xs btnred" ng-hide="!(post.zmiennac!=undefined && post.zmiennac==true)"
                              ng-click="addDown(post) | trackEvent:'Zapisz':'Button clicked':user ">{% trans 'publikuj' %}
                        </button>
                    </div>
    </div>
    <div ng-if="post.nodes.length>0" class="tab_border" ng-hide="!(post.rozwin!=undefined && post.rozwin==true) && showallposts" >
        <div ng-repeat="post in post.nodes ">
            <div ng-include="'tree_item_renderer.html'" ></div>
            <div ng-if="$last && !post.endTree" ng-class="{'dotedline':post.parent==null}">
                <span class="nextPostNested">
                    <button ng-click="addMorePosts(post,$parent.$parent.$parent.$parent.post)" class="btn btn-xs">Następne komentarze</button>
                </span>
            </div>
        </div>
    </div>


