{% extends "zr/base.html" %}
{% load i18n %}
{% load url from future %}

{% block extra_head %}
    <link href='/static/css/mw_style.css' rel='stylesheet' type='text/css'/>
    <link href='/static/css/btn_m.css' rel='stylesheet' type='text/css'/>


{% endblock %}

{% block navbar %} {% endblock %}

{% block content %}

    <div class="main_w1">
        <div class="row">
        <div class="mw mwleft">
            <img class="logo_op" src="/static/images/logo_op.png" alt=""/>
            <div class="small_link">
                <p>
                    <a href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit >></a>
                </p>
            </div>
        </div>

        <div class="mw mwright">
            <div class="video_scr">
            </div>
        </div>
        </div>

        <div class="row" ng-app="dynamic_links" ng-controller="dynamic_links_controller">
                Skąd wiesz o nas:
            <div class="m_box" id="dynamic_links">
                <span ng-repeat="o in options">
                    <a class="btn-sm-n  btn-c" onclick="change_referrer('{[{ o.referrer }]}')">{[{ o.label }]}</a>
                </span>

            </div>
            <div>
                <p>Name: {[{ document.referrer }]}</p>
            </div>
        </div>


        {% comment %}
        <div class="row">
            <div class="m_box">
                <div class="login_container">
                      {% include 'zr/login_form.html' %}
                </div>
            </div>
        </div>
        <div class="row">
        <div class="m_box text_area">
            <h2>Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                exercitation ullamco laboris nisi ut aliquip </h2>
            <div class="text_col">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                    sed do eiusmod tempor incididunt ut labore et dolore magna
                    aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                    ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis
                    aute irure dolor in reprehenderit in voluptate velit esse
                    cillum dolore eu fugiat nulla pariatur. Excepteur sint
                    occaecat cupidatat non proident, sunt in culpa qui officia
                    deserunt mollit anim id est laborum.
                </p>
            </div>
            <div class="text_col">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                exercitation ullamco laboris nisi ut aliquip
                </p>
            </div>
        </div>
        </div>
        <div class="row">
            <div class="m_box">
                <hr class="m_box_m" >
                <div class="footer_l">
                    <span class="block"><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit</p></span>
                    <span class="block"><img width="30px" height="30px" src="#" /></span>
                </div>
            </div>
        </div>
        {% endcomment %}

    </div>
    <script src="/static/angular/angular.js"></script>
    <script>
    var customInterpolationApp = angular.module('dynamic_links', []);

    customInterpolationApp.config(function($interpolateProvider) {
      $interpolateProvider.startSymbol('{[{');
      $interpolateProvider.endSymbol('}]}');
    });
    /**
     * Randomize array element order in-place.
     * Using Fisher-Yates shuffle algorithm.
     */
    function shuffleArray(array) {
        for (var i = array.length - 1; i > 0; i--) {
            var j = Math.floor(Math.random() * (i + 1));
            var temp = array[i];
            array[i] = array[j];
            array[j] = temp;
        }
        return array;
    }
    function dynamic_links_controller($scope){
        var options = [
            { label:"Od znajomych!", referer:"friends" },
            { label:"Od facebooka!", referer:"facebook" },
            { label:"Na mieście!", referer:"city" },
           ];

        $scope.options = shuffleArray(options);

        $scope.change_referrer = function(ref){
            console.log(document.referrer);
            //document.referrer = document.referrer + ref;
        }
    }
    </script>
{% endblock %}
