{% load i18n %}
{% load url from future %}
<form class="form-signin" method="post" action="{% url 'django.contrib.auth.views.login' %}">
{% csrf_token %}
    {% if form.errors %}
	    <p>{% trans "Adres email lub hasło jest niepoprawne." %}</p>
	{% endif %}
    <div class="row">
	    <div class="col-xs-6 col-md-6">
            <div class="form-group">
                <label for="id_{{ form.username.name }}">{% trans "Adres email" %}</label>
                <input id="id_{{ form.username.name }}" placeholder="{% trans 'np. jan@gmail.com' %}" maxlength="254" name="{{ form.username.name }}" type="text" class="form-control" autofocus>
            </div>
            <div class="form-group">
                <label for="id_{{ form.password.name }}">{% trans 'Hasło' %}</label>
                <input id="id_{{ form.password.name }}" placeholder="{{ form.password.label }}" maxlength="254" name="{{ form.password.name }}" type="password" class="form-control" >
            </div>
            <input type="hidden" name="next" value="{{ next }}" />

            <button name="zaloguj" type="submit" class="btn  btn-success">{% trans 'Zaloguj' %}</button>
            <a href="{% url   'forgot_password1' %}">{% trans 'zapomniałem hasła' %}</a>
        </div>
        <div class="col-xs-6 col-md-6">
            <br>
            <a class="btn btn-primary btn-block" href="{% url 'socialauth_begin' 'google-oauth2' %}">{% trans 'Konto Google' %}</a>

            <a class="btn btn-primary btn-block" href="{% url 'socialauth_begin' 'facebook' %}">{% trans 'Konto Facebook' %}</a>

            <a class="btn btn-warning btn-block" href="{% url 'register' %}">{% trans 'Zarejestruj się' %}</a>

            <a class="btn btn-warning btn-block" href="/zr/dashboard">{% trans 'Anonimowy użytkownik' %}</a>
        </div>

    <hr />
</form>