{% extends "zr/base.html" %}
{% load i18n %}
{% load url from future %}

{% block extra_head %}
    <link href='/static/css/mw_style.css' rel='stylesheet' type='text/css'/>
    <link href='/static/css/btn_m.css' rel='stylesheet' type='text/css'/>
    <link href='/static/css/home.css' rel='stylesheet' type='text/css'/>
    <link href="http://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet"/>

    <script src="/static/js/jquery-1.9.1.js"></script>
{% endblock %}

{% block navbar %}
    <div class="pagina">
        <img class="logo_op" src="/static/images/ap_maj-11.png" alt=""/>
    </div>
{% endblock %}

{% block content %}
    <div class="wrapper">
        <div class="head">
            <h1>Planuj swoje miasto</h1>
        </div>

        <section class="content">
            <div class="inner">
                <form class="form-signin" method="post" action="{% url 'register' %}">
                    {% csrf_token %}
                    <input type="hidden" name="next" value="{{ next }}" />

                    <div class="row">
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-offset-4 col-md-8">
                                    <h3>rejestracja</h3>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-4 text-right">
                                    {{ form.username.label_tag }}
                                </div>
                                <div class="col-md-8">
                                    {{ form.username }}
                                    {% if form.username.errors %}
                                        {% for error in form.username.errors %}
                                            <div class="alert alert-danger" role="alert">
                                                {{ error }}
                                            </div>
                                        {% endfor %}
                                    {% endif %}
                                </div>
                            </div>

                            <div class="row bottom-offset-15">
                                <div class="col-md-4 text-right">
                                    {{ form.email.label_tag }}
                                </div>
                                <div class="col-md-8">
                                    {{ form.email }}
                                    {% if form.email.errors %}
                                        {% for error in form.email.errors %}
                                            <div class="alert alert-danger" role="alert">
                                                {{ error }}
                                            </div>
                                        {% endfor %}
                                    {% endif %}
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-4 text-right">
                                    {{ form.first_name.label_tag }}
                                </div>
                                <div class="col-md-8">
                                    {{ form.first_name }}
                                    {% if form.first_name.errors %}
                                        {% for error in form.first_name.errors %}
                                            <div class="alert alert-danger" role="alert">
                                                {{ error }}
                                            </div>
                                        {% endfor %}
                                    {% endif %}
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-4 text-right">
                                    {{ form.last_name.label_tag }}
                                </div>
                                <div class="col-md-8">
                                    {{ form.last_name }}
                                    {% if form.last_name.errors %}
                                        {% for error in form.last_name.errors %}
                                            <div class="alert alert-danger" role="alert">
                                                {{ error }}
                                            </div>
                                        {% endfor %}
                                    {% endif %}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4 text-right">
                                    {{ form.zipcode.label_tag }}
                                </div>
                                <div class="col-md-8">
                                    {{ form.zipcode }}
                                    {% if form.zipcode.errors %}
                                        {% for error in form.zipcode.errors %}
                                            <div class="alert alert-danger" role="alert">
                                                {{ error }}
                                            </div>
                                        {% endfor %}
                                    {% endif %}
                                </div>
                            </div>

                        </div>

                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-offset-4 col-md-8">
                                    <h3 style="visibility: hidden;">&nbsp;</h3>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4 text-right">
                                    {{ form.password1.label_tag }}
                                </div>
                                <div class="col-md-8">
                                    {{ form.password1 }}
                                    {% if form.password1.errors %}
                                        {% for error in form.password1.errors %}
                                            <div class="alert alert-danger" role="alert">
                                                {{ error }}
                                            </div>
                                        {% endfor %}
                                    {% endif %}
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-4 text-right">
                                    {{ form.password2.label_tag }}
                                </div>
                                <div class="col-md-8">
                                    {{ form.password2 }}
                                    {% if form.password2.errors %}
                                        {% for error in form.password2.errors %}
                                            <div class="alert alert-danger" role="alert">
                                                {{ error }}
                                            </div>
                                        {% endfor %}
                                    {% endif %}
                                </div>
                            </div>

                            <button type="submit" class="btn-sm-n btn-a r ">{% trans 'Zarejestruj' %}</button>
                        </div>
                    </div>
                </form>
            </div>
        </section>
    </div>
{% endblock %}
