body{
    font-family: 'Roboto', sans-serif !important;
}

button{
    background:#CCCACA;
    font-family: 'Roboto', sans-serif !important;
}
input{
    font-family: 'Roboto', sans-serif  !important;
}

button:hover, button:focus{
    background: #959496;
}

.btnred{
    background:#9EC91C;
    color: white;
    font-size: 12px;
    font-variant: normal;
    font-family: 'Roboto', sans-serif ;
}
.leaflet-popup-content .btnred
{
  margin-left: 90px !important;
  color: white;
}

.btnred:hover, .red:focus{
 background:#4CAE51;
 color:white !important;
}

.btn:hover
{
  color:black !important;
}

.btnblue{
    background:#73904E;
    color:#ffffff;
}

.btnblue:hover, .red:focus{
    background: #4A6033;
    color:#ffffff;
}

.btnwhite{
    font-size: 14px !important;
    background:#ffffff;
}

.btnwhite:hover{
    font-size: 14px !important;
    background:#ffffff;
}

.btngrey{
    font-size: 14px;
    color:#A0A0A0 !important;
    margin-right:5px;
    color: #A0A0A0;
}

.btngrey:hover{
    font-size: 14px;
    color:#00B8B3 !important;
    margin-right:5px;
}

.media
{
  margin-top: 0px !important;
}
.btnsea{
    font-size: 14px !important;
    color: #00c7a2 !important;
}

.btnsea:hover{
    font-size: 14px !important;
    color:#03897f !important;
}

.fontBB{
    font-weight:bold;
    color:#757574 !important;
}

.fontBB:hover{
    font-weight:bold;
    color:#03897F !important;
}

.delpadding{
    padding: 0px !important;
}

nav{
    min-height: 50px;
    height:8%;
}

.nav-tabs > li.active > a{
    border: 0px  solid transparent;
    padding-bottom: 8px;
    overflow: hidden;
}

.nav-tabs > li.active {
padding-top:0px;
color: #555555;
background-color: #ffffff;
border-right: 1px  solid #DDDDDD;
border-top: 8px  solid #2B95A4;
border-bottom-color: transparent;
cursor: default;
border-radius: 0;
padding-bottom: 0px;
    bottom:-1px;
}

.nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
color: #555555;
background-color: #ffffff;
border: 0px  solid transparent;
border-bottom-color: transparent;
cursor: default;
border-radius: 0;
padding-bottom: 7px;
bottom: -1px;
}


.nav-tabs > li > a:hover, .nav-tabs > li > a:focus {

color: #555555;
background-color: #ffffff;
border: 0px  solid transparent;
border-bottom-color: transparent;
cursor: default;
padding-bottom: 7px;
}

.nav-tabs > li > a{
    border-right: 0px solid #555555;
    border-radius: 0;
    padding-top: 15px;
    padding-bottom: 3px;
}

.nav > li > a:hover {
    background: none;
}

.nav-tabs > li  {
    padding-top:8px;
    border-right: 1px  solid #DDDDDD;
    padding-bottom:0px;
}
.nav-tabs > li:hover  {
    background: #2FA39B;
}


.nav-tabs > li/*:nth-child(2n+1)*/  {
    background: #46E5C4;
}
/*
.nav-tabs > li:nth-child(2n+1):hover  {
    background: #46E5C4;
}*/

.toolbox{
    height:50px;
    padding-top:14px;
    margin-left: 10px;
    display:inline-flex;
    /*align-items: stretch;*/
    flex-flow: row wrap;
    justify-content: space-between;
}

.toolbox span.right{
    width: 250px;
}
.toolbox .left{
    margin-bottom: 10px;
}

.filedragablearea{
    background-color: #E1E1E8;
}

.dashbord_map{
    margin: 0px !important;
    height: 100%;
}

div#resizible_jquery{
   position: relative;
   /* overflow-y: scroll;*/
    overflow-x: hidden;
    height: 100%;
}

.middle_background{
  background: url(../img/pala.png) 1px 50% no-repeat;
  position: fixed;
  left: auto;
  top: 0;
  bottom: 0;
  z-index: 1000;
  width:6px;
}

div#mapsquare{
    height: 100%;
}
div#map{
    height: 100%;
}

.left{
    display:block;
    float:left;
}

.right{
    display:block;
    float:right;

}
div.right
{
    font-family: "Roboto", sans-serif;
    font-style: italic;;
}

.form-control{
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 1.2em;
}

.double-input .form-control {
    border-right-width: 0px;
}
.double-input .form-control:focus {
    border-right-width: 1px;
}

.input-group-sm > .form-control, .input-group-sm > .input-group-addon, .input-group-sm > .input-group-btn > .btn {
height: 23px;
padding: 2px 8px;
font-size: 12px;
line-height: 1.5;

}


body{
    overflow: hidden;
}

.search_box{
    margin:5px;
}
.post_content_test{

}
.post_content_test_testing{
    padding-top:0px;
    padding-left:0px;
    padding-bottom: 0px;
    padding-right: 0px;
}
.post{

}
.post_testing{
    margin-bottom: 6px;
    border-radius: 5px;
    /*border: 1px solid #ccc;*/
    margin-left: 0px !important;
    margin-right: 0px !important;
    /*padding: 5px;*/
    background-color: #ffffff;
}
.sub_post{

}
.sub_post_testing{
    margin-top:13px;
    margin-bottom: 2px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-left: 5px !important;
    margin-right: 5px !important;
    padding: 10px 5px;
}
.tab_border{
    margin-bottom: 10px;
    margin-left: 0px !important;
    margin-right: 0px !important;
    padding: 0px;
}
.new_margin{
    margin-left: 5px !important;
    margin-right: 0px !important;
    margin-top:0px !important;
}
.main-post{
}
.main-post_testing{
    border-top: 10px solid #00c7a2;
    padding-top:10px;
    width:100%;
    left:30px;
    margin-left: 0px !important;
    margin-right: 0px !important;
    margin-top:0px !important;
}

.child-post{
    margin-left: 5px !important;
    margin-right: 0px !important;
    margin-top:0px !important;
}
.post-list{
    margin-bottom:4px;
}
hr {
    margin:0px;
}
.allign_right{
    float:right;
    margin-right: 2%;
}
.tab-post{
    display: table;
    width:100%;
}
.tab-post ul{
  display: table-row;
}

.tab-post ul li img{
    margin:0px 10px;
}

.head-autor {
    font-family: 'Roboto', sans-serif !important;
                font-size:  12px;
                color: #A0A0A0 ;
}
.post-content {
    margin-top:-10px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 1.2em;
}
.dotedline{
    border-bottom: 1px dotted  #757574;
}

.blue{
    background-color: blue;
}
.red{
    background-color: red;
}
.yellow{
    background-color: darkkhaki;
}
.green{
    background-color: darkgreen;
}
button:focus {
    outline:none !important;
}


/*edit teodr @ katalpa*/
     #nav-tabs-menu a
           {
           padding: 0px !important;
           font-size: 1.2em;
           color:#000000;
           text-align: center;
           }
           #nav-tabs-menu li.active a
           {
           padding-top:  16px !important;
           /*border-top: 8px solid #00BAB1 !important;*/
           }
           #nav-tabs-menu li.open > .dropdown-menu
           {
              width: 100% !important;
              padding-top: 0px;
              padding-bottom: 0px;
           }
           #nav-tabs-menu li.open > .dropdown-menu li
           {
              margin-left: -1px;
              padding-left: 10px;
              width: 100% !important;
              height: 40px;
              border-top: solid white 2px !important;
              background: #46E5C4;
              padding-top: 8px;
           }
           #nav-tabs-menu li.open > .dropdown-menu li:hover
           {
              background: #2FA39B;
           }
           .dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus{
               background: #2FA39B;
               height: 20px;
               background-color: #2FA39B !important;
           }
            #nav-tabs-menu li.open > .dropdown-menu li:last-child
           {
              /*border-bottom: 0px solid #66624A;*/
           }
            ul.dropdown-menu li
           {

               width: 100%;

           }
           #nav-tabs-menu li.open > ul.dropdown-menu a
           {
              border: none !important;
              text-align: left  ;
              height: 20px;
           }
            #nav-tabs-menu li.open > ul.dropdown-menu a:hover
           {
              border: none !important;
              /*text-align: center;*/
              /*background-color: #FFFFFF;*/
              text-decoration: underline;
           }
           .dropdown .btn-xs{
               margin-left:0px;
               margin-right: 2px;
           }
           .nav-tabs
           {
            position: fixed;
            z-index: 11;
            /*border-bottom: solid 2px #66624A !important;*/
           }
           .nav-tabs i
           {
            padding-right: 6px;
           }
           .nav-tabs div.mr-pushpin-bl
           {
            margin-right: 6px;
           }
           .img-circle img
           {
            margin-right: 6px;
            border-radius: 10px;
            margin-top: -8px;
           }
           .img-circle40 img
           {
            margin-right: 6px;
            border-radius: 20px;
            margin-top: -8px;
           }
           .nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
              background-color: inherit;
              border-color: #428bca;
            }
           .nav .open > a, .nav .open > a:hover, .nav .open > a:focus
           {
            /*background-color: white !important;*/
           }
           ul.nav.nav-tabs
           {
            width: 100%;
            background-color: white;
           }
           .nav-tabs  li
           {
            /*background: #46E5C4;*/
            width: 23%;
            height: 50px;
            border-right : solid 1px white !important;
            padding-top: 16px;
           }
           .nav-tabs > li.active
           {
            border-top: none !important;
            bottom: 0px !important;
           }
           .nav-tabs > li.active a
           {
               padding-top: 8px
           }
           .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus
           {
            bottom:0px !important;
           }
           .nav-tabs li.active a
           {

            margin-right: 0px;
            padding-top: 8px !important;
            height: 51px !important;
           }
           .nav-tabs li a
           {
            border: none !important;
           }
           .nav-tabs  li:first-child
           {
            width: 25%;
           }
           .nav-tabs  li:last-child
           {
            width: 29%;
           }
           .nav-tabs i.fa.fa-comments.fa-fw
           {
            display: inline !important;
           }
           .tab-pane
           {
            padding-top: 100px;
           }
           .toolbox
           {
            top: 50px;
            position: fixed;
            background-color: white;
            z-index: 10;
           }


                          /*container represents buttons and input just below tabbed navigation*/


            .toolbox button
            {
                font-family: 'Roboto', sans-serif;

            }

            .toolbox span.left
            {
                margin-top: -2px;
            }
            .toolbox span.left button:focus{
                /*background:#00B4FF;
                outline:#00B4FF ;
                border: 1px solid #00B4FF;*/
            }
            .toolbox span.left .btn-danger:focus{
                background:#00B4FF;
                outline:#00B4FF ;
                border: 1px solid #00B4FF;
            }
            .toolbox span.left .glyphicon
            {
                font-size: 9px !important;
            }
            .toolbox span.right
            {
                margin-right: 2%;
            }
            .toolbox span.right button
            {
                height: 30px !important;
                background-color: white;
                border: solid 1px #ccc;
            }
            .toolbox span.right input
            {
                height: 30px !important;
                background-color: white;
            }
            span.right .input-group-sm > .form-control, .input-group-sm > .input-group-addon, .input-group-sm > .input-group-btn > .btn
            {
                margin-top: -4px;
                border: solid 1px #ccc;
                background-color: #ffffff;
                padding-top: 5px;
                padding-bottom: 5px;
                height: 30px;
            }
            .post-list
            {
                border-bottom: solid 1px transparent;
                margin-bottom: 0px !important;
            }
            /*main post styling*/
            div.main-post
            {
                position: relative;
                margin-top: 0;
                margin-bottom: 0;
            }
            div.dotedline
            {
                border-bottom: 1px dotted #757574;
            }
            /*div.main-post:nth-last-child(3n+1)
            {
                border-top: solid 10px #00c7a2;
            }
            div.main-post:nth-last-child(3n+3)
            {
                border-top: solid 10px #66624A;

            }
            div.main-post:nth-last-child(3n+2)
            {
                border-top: solid 10px #EC1E22;
            }*/
            /*:first-of-type of type is used to ensure that we style correct element*/
            div.main-post ul:first-of-type
            {
                list-style-type: none;
                padding-top: 10px;
                padding-left: 15px;
            }
            div.main-post ul:first-of-type li:first-of-type img
            {
                width: 40px;
                height: 40px;
            }
            div.main-post span.left
            {
                display: block;
                float: left;
            }
             div.post span.left
            {
                display: block;
                float: left;
                margin-left: 80px;
            }

            div.main-post span.right
            {
                display: block;
                float: right;
                position: absolute;
                top:10px;
                right: 10px;
            }
            div.main-post span.right button
            {
                background-color: transparent;
                margin-right: 0px;
            }
            div.main-post span.right button:hover
            {
                color:#00BA80;
            }
            div.post .glyphicon-screenshot
            {
                font-size: 15px !important;
            }
            div.post .glyphicon-pushpin
            {
                font-size: 15px !important;
            }
            #subscriptions div.tab-post, #all div.tab-post
            {
                margin-top: 0px !important;
                padding-top: 11px;
                /*border-top: solid 10px #00c7a2;*/
            }
            #subscriptions div.post > img
            {
                margin-top:13px !important;
            }
            .head-autor
            {
                font-size: 12px;
                font-family: 'Roboto', sans-serif;
                color: #A0A0A0 ;
            }
            div.post
            {
                padding-right: 2%;
            }
            div.post.staff-comment
            {
                background: #FFFCCC;
            }
            div.main-post p.head-autor
            {
                font-family: 'Roboto', sans-serif;
                font-size:  12px;
                color: #A0A0A0 ;

            }
            div.main-post p.post-content
            {
                width:100%;
                margin-top: -5px;
                font-family: "Roboto", sans-serif;
                font-weight: 500;
                font-size: 1.2em;
            }
            div.main-post p.comment-removed
            {
              text-decoration: line-through;
            }
            div.main-post div.left
            {
                float:left;
                font-family: "Roboto", sans-serif;
                font-style: italic;
                margin-left: 10px;
            }
            div.main-post div.right
            {
                float:right;
                font-family: "Roboto", sans-serif;
                font-style: italic;
            }
            div.main-post div.right > div.fileinput-new
            {
                display: inline;
            }
            div.main-post div.allign_right
            {
                float:right;
            }
            div.sub_post
            {
                position: relative;
                border: solid 1px #989898;
                margin-left: 60px;
                margin-right: 2%;
                border-radius: 15px;
                padding-right: 1%;

            }
            div.tab-post
            {
                margin-top: 11px;
                margin-bottom: 0;
            }
            div.sub_post p.post-content
            {
                font-family: 'Roboto', sans-serif;
                font-size: 1.1em;
                width: 90%;
                margin-left: 10px;
                margin-top: -8px;
            }
            div.sub_post p.head-autor
            {
                margin-left: 10px;
                margin-top:  5px;
            }
            div.sub_post span.left
            {

                margin-top: 5px;
                margin-right: 2%;
             }

            div.sub_post.sub_post_lv2 span.left
            {
                width: 86%;
                margin-left: 90px;
                margin-top: 5px;
                border: solid 1px #989898;
                border-radius: 15px;
            }
            div.sub_post span.right
            {
                display: none;
            }
            div.post button:hover, div.sub_post button:hover
            {
                color: #00BAB1;
            }
            div.post div.right button.btnsea , div.sub_post div.right button.btnsea
            {
                color: #00BAB1;
                font-weight: bold;
            }
            div.post div.right button.btnsea span.glyphicon,  div.sub_post div.right button.btnsea span.glyphicon
            {
               margin-right: 5px;
            }
            div.post div.left button,div.post div.right button,div.sub_post div.left button,div.sub_post div.right button
            {
                background-color: transparent;
            }
            div.allign_right button
            {
                margin-top: 5px;
            }
            .sub_post_lv2 > textarea:nth-child(4)
            {
                margin-left: 90px;
                border-radius: 15px !important;
                width: 86% !important;
            }
            /*button.btnblue
            {

                background-color: #2B95A3;
                color:#FFFFFF;
            }
            div.allign_right button.btnblue:hover
            {
                background-color: #1C6771;
                color:#FFFFFF;
            }*/
            /*button.btnred
            {
                background-color: #F41824;
                color:#FFFFFF;

            }
            div.allign_right button.btnred:hover
            {
                background-color: #A60011;
                color:#FFFFFF;
            }*/
            li.nav-tabs
            {
              width: 23%;
            }
            li.nav-tabs:last-child
            {
               width: 31%;
            }
            #map-search
            {
                position: absolute;
                border-collapse: separate;
                z-index: 10;
                width: 310px;
                right: 330px;
                top: 20px;
            }
            #map-portal-logo
            {
                position: absolute;
                border-collapse: separate;
                z-index: 10;
                top: 0px;
                left:0px;
            }
            #map-search input
            {
                height: 30px;
            }
            #map-search button
            {
                margin-top: 0px;
                height: 30px;
            }
          div.sub_post span.glyphicon-paperclip
             {
                display: none;
             }
             #all .post-list, #subscriptions .post-list
             {
              border-bottom: none;
             }
              .post-list div.allign_right
             {

              margin-top: -20px;
              margin-left: 11%;
             }
             .main-post textarea
             {
              width: 92%;

              float: right;
             }
             .sub_post textarea,  .post-list textarea
             {
              width: 85%;

              margin-right: 2%;
             }
             .post-list textarea
             {
               margin-left: 4%;
               margin-bottom: 20px;
               font-size: 14px;
             }
             .sub_post textarea{
              float: right;
             }

             /* map area */
            div.leaflet-top.leaflet-left
            {
               margin-top: 10%;
            }
            div.leaflet-top.leaflet-left a
               {
                background-color: rgba(0,0,0,0.6);
                color: #FFFFFF;
                border-radius: 0px;
                font-size: 20px;
                width: 40px;
                height: 40px;
                padding-top: 7px;
               }

            div.leaflet-top.leaflet-right a
               {
                background-color: rgba(0,0,0,0.6);
                color: #FFFFFF;
                border-radius: 0px;
                /*font-size: 20px;*/
                width: 40px;
                height: 40px;
                /*padding-top: 7px;*/
                white-space: nowrap;
               }

            div.leaflet-top.leaflet-left a:hover
               {
                background-color: #00c7a2;
               }
            div.leaflet-top.leaflet-right a:hover
               {
                background-color: #00c7a2;
               }
                div.leaflet-control-layers
                {
                    box-shadow: none;
                }
               div.leaflet-control-layers.leaflet-control
               {
                   width: 310px;
                   margin-top: -20px;
                   background-color: transparent;
               }
               div.leaflet-control-layers-separator
               {
                display: none;
               }
               div.leaflet-control-layers.leaflet-control input,div.leaflet-control-layers.leaflet-control span
               {
                   display: inline-block;
                   margin-left: 4px;
               }


               div.leaflet-control-layers-base
               {
                    background-color: rgba(0,0,0,0.6);
                    float: left;
                    width: 310px;
                    height: 50px;
                    padding-top: 15px;
                    text-align: center;
               }
               div.leaflet-control-layers-base label
               {
                    color: white;
                    font-family: 'Roboto', sans-serif ;
                    font-weight: normal;
                    display: inline-block;
                    margin-left: 10px;
                    margin-right: 10px;
                    text-align: center;

               }

               div.leaflet-control-layers-base label:first-child:before
               {
                 content: "Mapy bazowe:  ";
                 color:white;
                 font-weight: bold;
                }


               div.leaflet-control-layers-overlays:before
               {
                 content: "Mapy tematyczne:  ";
                 color: black;
                 font-weight: bold;
                 margin-top: -15px;
                 margin-left: 12px;
                 width: 310px;
                 display: block;

                }
                 div.leaflet-control-layers-overlays label
               {
                    background-color: #FFFFFF;
                    color: #000;
                    font-family: 'Roboto', sans-serif ;
                    font-weight: normal;
                    display: inline-block;
                    padding-left: 20px;
                    width: 50%;
                    margin-bottom: 0px;
               }

               div.leaflet-control-zoomslider-wrap
               {
                background-color: rgba(0,0,0,0.6);
               }
               div.leaflet-control-zoomslider-body
               {
                border: none;
                background-color: #FFFFFF;
                color: #FFFFFF;
                width: 1px;
               }
               div.leaflet-control-layers-overlays {
               float: left;
               background-color: #FFFFFF;
               width: 310px;
               height: 75px;
               padding-top: 19px;
           }
 .leaflet-draw-toolbar
 {
  width: 40px;
 }
 .leaflet-draw-toolbar a
 {
  float: right;
 }
  .leaflet-draw-toolbar a:hover
 {
   position: relative;
 }
 .leaflet-draw-toolbar a[title]:hover:after
 {
    content: attr(title);
    height: 40px;
    color: white;
    position: absolute;
    display: block;
    right: 47px;
    width: 120px;
    text-align: center;
    color: black;
    padding-top: 6px;
    padding-right: 6px;
    padding-left: 5px;
    border-radius: 8px;
    background-image: url('/static/images/arrow_right_wide.png');
 }
.leaflet-control a[title]:hover:after
 {
    content: attr(title);
    height: 40px;
    color: white;
    position: absolute;
    display: block;
    right: 47px;
    width: 120px;
    text-align: center;
    text-size: small;
    color: black;
    padding-top: 6px;
    padding-right: 6px;
    padding-left: 5px;
    border-radius: 8px;
    background-image: url('/static/images/arrow_right_wide.png');
 }
div.leaflet-bar a.leaflet-draw-draw-polygon
{

    background-image: url('/static/images/planuj-05.png');
    background-size: 40px 40px;
    background-position: 0px;
    background-color: rgba(0,0,0,0.6);
    width: 40px;
    height: 40px;
    position: absolute;
    right: 0px;
    bottom: -80px;
    border-bottom: 1px solid #ccc;
}

div.leaflet-bar a.leaflet-draw-draw-polygon:hover
{

  background-image: url('/static/images/planuj-05.png'),url('/static/images/planuj-11.png');
  background-size: 40px 40px, 47px 40px;
  background-position: 7px 0px,0px 0px;
  width: 47px;
  background-color: transparent;
  border: none;


}
div.leaflet-bar a.leaflet-draw-draw-polyline
{
  background-image: url('/static/images/planuj-07.png');
  background-size: 40px 40px;
  background-position: 0px;
  background-color: rgba(0,0,0,0.6);
  width: 40px;
  height: 40px;
  position: absolute;
  right: 0px;
  bottom: -120px;
  border: none !important;
}

div.leaflet-bar a.leaflet-draw-draw-polyline:hover
{
  background-image: url('/static/images/planuj-07.png'),url('/static/images/planuj-11.png');
  background-size: 40px 40px, 47px 40px;
  background-position: 7px 0px,0px 0px;
  width: 47px;
  background-color: transparent;
  border: none;
}
div.leaflet-control-polyline-on a.leaflet-draw-draw-polyline
{
    background-image: url('/static/images/planuj-07.png'),url('/static/images/planuj-11.png') !important;
    background-size: 40px 40px, 47px 40px !important;
    background-position: 7px 0px,0px 0px !important;
    width: 47px !important;
    background-color: transparent !important;
    border: none !important;
}

div.leaflet-control-polygon-on a.leaflet-draw-draw-polygon
{
    background-image: url('/static/images/planuj-05.png'),url('/static/images/planuj-11.png') !important;
    background-size: 40px 40px, 47px 40px !important;
    background-position: 7px 0px,0px 0px !important;
    width: 47px !important;
    background-color: transparent !important;
    border: none !important;
}

div.leaflet-bar a.leaflet-draw-draw-marker
{

    background-image: url('/static/images/planuj-06.png');
    background-size: 40px 40px;
    background-position: 0px;
    background-color: rgba(0,0,0,0.6);
    width: 40px;
    height: 40px;
    position: absolute;
    right: 0px;
    bottom: -40px;
    border-bottom: 1px solid #ccc;
}
div.leaflet-bar a.leaflet-draw-draw-marker:hover
{
    background-image: url('/static/images/planuj-06.png'),url('/static/images/planuj-11.png');
    background-size: 40px 40px, 47px 40px;
    background-position: 7px 0px,0px 0px;
    width: 47px;
    background-color: transparent;
    border: none;
}

div.leaflet-control-marker-on a.leaflet-draw-draw-marker
{
    background-image: url('/static/images/planuj-06.png'),url('/static/images/planuj-11.png') !important;
    background-size: 40px 40px, 47px 40px !important;
    background-position: 7px 0px,0px 0px !important;
    width: 47px !important;
    background-color: transparent !important;
    border: none !important;
}


div.leaflet-bar a.leaflet-draw-draw-rectangle
{
    background-image: url('/static/images/planuj-08.png');
    background-size: 40px 40px;
    background-position: 0px 0px;
    background-color: rgba(0,0,0,0.6);
    width: 40px;
    height: 40px;
    position: absolute;
    right: 0px;
    top: 173px;
}
div.leaflet-control-rectangle-on a.leaflet-draw-draw-rectangle
{
    background-image: url('/static/images/planuj-08.png'),url('/static/images/planuj-11.png') !important;
    background-size: 40px 40px, 47px 40px !important;
    background-position: 7px 0px,0px 0px !important;
    width: 47px !important;
    background-color: transparent !important;
    border: none !important;
}

div.leaflet-draw-toolbar a.leaflet-draw-draw-rectangle:hover
{
  background-image: url('/static/images/planuj-08.png'),url('/static/images/planuj-11.png');
  background-size: 40px 40px, 47px 40px;
  background-position: 7px 0px,0px 0px;
  width: 47px;
  background-color: transparent;
  border: none;

}

div.leaflet-bar a.leaflet-control-measure
{
  background-image: url('/static/images/planuj-09.png');
  background-size: 40px 40px;
  background-position: 0px 0px;
  color:transparent;
  position: absolute;
  right: 0px;
  top: 390px;
  font: 12px/1.5 "Helvetica Neue", Arial, Helvetica, sans-serif;
  margin-top: 0px;
}
div.leaflet-bar a.leaflet-control-measure:hover
{
  background-image: url('/static/images/planuj-09.png'),url('/static/images/planuj-11.png');
  background-size: 40px 40px, 47px 40px;
  background-position: 7px 0px,0px 0px;
  width: 47px;
  background-color: transparent;
  border: none;
  font: 12px/2 "Helvetica Neue", Arial, Helvetica, sans-serif;
}
div.leaflet-bar .leaflet-control-draw-measure{
    background-image: url('/static/images/planuj-10.png');
    background-size: 40px 40px;
    background-position: 0px 0px;
    color:transparent;
    position: absolute;
    right:0px;
    top:360px;
    border-bottom: 1px solid #ccc !important;
}

div.leaflet-bar a.leaflet-control-draw-measure:hover
{
  background-image: url('/static/images/planuj-10.png'),url('/static/images/planuj-11.png');
  background-size: 40px 40px, 47px 40px;
  background-position: 7px 0px,0px 0px;
  width: 47px;
  background-color: transparent;
  border: none !important;

}

div.leaflet-control-measure-on a.leaflet-control-draw-measure{
	background-image: url('/static/images/planuj-10.png'),url('/static/images/planuj-11.png') !important;
	background-size: 40px 40px, 47px 40px  !important;
    background-position: 7px 0px,0px 0px  !important;
    width: 47px  !important;
    background-color: transparent !important;
    border: none !important;
    }

div.leaflet-control-measure-on a.leaflet-control-measure{
	background-image: url('/static/images/planuj-09.png'),url('/static/images/planuj-11.png') !important;
	background-size: 40px 40px, 47px 40px  !important;
    background-position: 7px 0px,0px 0px  !important;
    width: 47px  !important;
    background-color: transparent !important;
    border: none !important;
    }

/*
div.leaflet-bar a.leaflet-control-measure-ruler
{
  background-image: url('/static/images/planuj-10.png');
  background-size: 40px 40px;
  background-position: 0px 0px;
  color:transparent;
  position: absolute;
  right: 0px;
  bottom:-390px;
  background-color: rgba(0,0,0,0.6);
  width: 40px;
  height: 40px;
}
div.leaflet-bar a.leaflet-control-measure-ruler:hover
{
  background-image: url('/static/images/planuj-10.png'),url('/static/images/planuj-11.png');
  background-size: 40px 40px, 47px 40px;
  background-position: 7px 0px,0px 0px;
  width: 47px;
  background-color: transparent;
  border: none;
}
*/
.tab_border .tab_border div.sub_post
{
  margin-left: 80px;
}
.tab_border .tab_border .tab_border div.sub_post
{
  margin-left: 100px;
}
.tab_border .tab_border .tab_border .tab_border div.sub_post
{
  margin-left: 120px;
}
.add_comment
{
  overflow: hidden;
  margin-top: 20px;
}
.add_comment textarea
{
  margin-right: 2%;
}
.map_popup
{
  font-family: 'Roboto', sans-serif ;
  font-size: 0.8em;
  font-weight: normal;
}
.map_popup label
{
  font-family: 'Roboto', sans-serif ;
  font-size: 1em;
  font-weight: normal;
}
.map_popup button
{
  height: 25px;
}
.map_popup textarea
{
color: black;
}

.leaflet-popup-content-wrapper{
    border-radius:0px !important;
}

textarea#popup_comment
{
 border: 1px solid #989898 !important;
 font-family: 'Roboto', sans-serif ;
 font-size: 14px;
 color: black;
 width: 100%;
}

.nextPost{
    float:right;
    margin:13px;
}
.nextPostNested{
    float:right;
    margin:13px;
    margin-top:11px;
}


.mr-pushpin {
    background-image: url('/static/images/ap8_ikonki-20.png');
    background-size: 18px 18px, 18px 18px  !important;
    background-position: 0px 0px,0px 0px;
    width: 18px  !important;
    height: 18px  !important;
    background-color: transparent !important;
}
.mr-pushpin-bl {
    background-image: url('/static/images/ap8_ikonki-15.png');
    background-size: 18px 18px, 18px 18px  !important;
    background-position: 0px 0px,0px 0px;
    width: 18px  !important;
    height: 18px  !important;
    background-color: transparent !important;
    display: inline-block;
}
.mr-pushpin:hover {
    background-image: url('/static/images/ap8_ikonki-15.png');
    background-size: 18px 18px, 18px 18px  !important;
    width: 18px  !important;
    height: 18px  !important;
    background-color: transparent !important;
}

.mr-handdown {
    background-image: url('/static/images/ap8_ikonki-16.png');
    background-size: 18px 18px, 18px 18px  !important;
    width: 18px  !important;
    height: 18px;
    background-color: transparent !important;
    display: inline-block;
}
.mr-handup{
    background-image: url('/static/images/ap8_ikonki-17.png');
    background-size: 18px 18px, 18px 18px  !important;
    width: 18px  !important;
    height: 18px;
    background-color: transparent !important;
    display: inline-block;
}
.mr-clip{
    background-image: url('/static/images/ap8_ikonki-18.png');
    background-size: 21px 21px, 21px 21px  !important;
    width: 21px  !important;
    height: 21px;
    background-color: transparent !important;
}
.mr-clip:hover{
    background-image: url('/static/images/ap8_ikonki-19.png');
    background-size: 21px 21px, 21px 21px  !important;
    width: 21px  !important;
    height: 21px;
    background-color: transparent !important;
}

input:focus{
    outline:none;
    border:none;
}

btn-f:focus{
    outline:#00C39E solid thin !important;
    border:#00C39E solid 1px !important;
}

textarea{
    border-top-left-radius: 10px !important;
    border-top-right-radius: 10px !important;
    border-bottom-left-radius: 10px !important;
    border-bottom-right-radius: 0px !important;
    border-color: black;
    border-style: solid;
    border-width: 1px;
}

textarea:focus{
    outline:none !important;
    border:#00C39E solid 1px !important;
}

.fontBl{
    color:#333333;
    font-weight: bold;
}

.fontBold{
    font-weight: bold;
}

.margin-left{
    margin-left: 60px !important;
}

.leaflet-right .leaflet-draw-actions li:last-child a{
    visibility:hidden;
}

.filePL{
    color: #333333;;
}
.filePL:hover{
    color: #333333;;
}
.postContent{
    font-family: 'Roboto', sans-serif ;
}
.postContent .left{
    margin-bottom: 20px;
}

.post-content-flist{
    margin-left: 20px;
}

    .smallmap {
        width: 100%;
        height: 480px;
        border: 1px solid #ccc;
    }
    .olControlPanel div {
      position: absolute;
      left: 12px;
      top: 22px;
      display:block;
      width:  18px;
      height: 18px;
      margin: 5px;
      background-image: url("/static/img/zoom-world-mini.png");
    }

    .marker-cluster-small-pol {
        background-color: rgba(0, 0, 226, 0.6);
        }
    .marker-cluster-small-pol div {
        background-color: rgba(0, 0, 204, 0.6);
        }

    .marker-cluster-medium-pol {
        background-color: rgba(0, 0, 211, 0.6);
        }
    .marker-cluster-medium-pol div {
        background-color: rgba(0, 0, 194, 0.6);
        }

    .marker-cluster-large-pol {
        background-color: rgba(0, 0, 156, 0.6);
        }
    .marker-cluster-large-pol div {
        background-color: rgba(0, 0, 128, 0.6);
        }

.cluster-mr{
    text-align: center;
    background-clip: padding-box;
    border-radius: 20px;
    line-height: 38px;
    border: solid white 1px;
}

.marker-cluster-mr{
    background-color: #81BE27;
}
.polygon-cluster-mr{
    background-color: #009DA5;
}
.line-cluster-mr{
    background-color: #00B4FF;
}

.leaflet-container .leaflet-control-zoomslider{
    top:100px;
}

.leaflet-popup-content{
    margin: 12px 10px 40px 10px !important;
}

#popPublish{
    float:right;
    margin-top:3px;
}

.btn-sm-n, .btn-xs{
    display: inline-block;
    padding: 6px 8px;
    font-size: 14px;
    line-height: 1;
    border-radius: 4px;
    margin: 3px 2px;
}

#error_comment_needed{
    position: absolute;
    color: red;
    bottom: 42px;
    left: 12px;
}
.visible_off{
    visibility: hidden;
}

.pulseit{
    position:absolute;
    -webkit-animation: pulse linear .5s infinite;
    animation: pulse linear .5s infinite; }
@-webkit-keyframes pulse {
    0% { top:-10px; }
    50% { top:0px; }
    100% { top:-10px; }
}
@keyframes pulse {
    0% { top:-10px; }
    50% { top:0px; }
    100% { top:-10px; }
}

.leaflet-buttons-control-toggleon{
    background-image: url('/static/images/planuj-051.png'),url('/static/images/planuj-11.png') ! important;
    background-size: 40px 40px, 47px 40px !important;
    background-position: 7px 0px,0px 0px !important;
    width: 47px !important;
    background-color: transparent !important;
    border: none !important;

}
div.leaflet-buttons-control-button{
    background-image: url('/static/images/planuj-051.png');
    background-size: 40px 40px;
    background-position: 0px;
    background-color: rgba(0,0,0,0.6);
    width: 40px;
    height: 40px;
    position: absolute;
    right: 0px;
    top: 143px;
    border-bottom: 1px solid #ccc;
}
div.leaflet-buttons-control-button:hover
{

  background-image: url('/static/images/planuj-051.png'),url('/static/images/planuj-11.png');
  background-size: 40px 40px, 47px 40px;
  background-position: 7px 0px,0px 0px;
  width: 47px;
  background-color: transparent;
  border: none;
}
