.delpadding{
    padding: 0px !important;
}

nav{
    min-height: 50px;
    height:8%;
}

.filedragablearea{
    background-color: #E1E1E8;
}

.dashbord_map{
    margin: 0px !important;
    height: 92%;
}

div#resizible_jquery{
    overflow-y: scroll;
    overflow-x: hidden;
    height: 100%;
}
div#mapsquare{
    height: 100%;
}
div#map{
    height: 100%;
}
/* div.tab-content{
    border: 1px solid #aaaaaa;
}
   border-left-style: outset;
    border-bottom-style: outset;
    overflow-y: scroll;
    overflow-x: hidden;
    height:422px;
}*/

body{
    overflow: hidden;
}

.search_box{
    margin:5px;
}

.post_content{
    padding-top:5px;
    padding-left:5px;
    padding-bottom: 5px;
}

