body {
    background: url('../images/map_pod.png') repeat !important;
    font-family: 'Source Sans Pro', sans-serif !important;
}

.pagina{
    width:100%;
    heinght: 64px;
    background: #ffffff;
}

.back_row{
    margin-top: 320px;
    background: #46E5C4;
    padding-bottom:35px;
}

h2{
    font-size: 32px !important;
    font-weight: lighter !important;
    font-stretch: extra-expanded !important;
    font-family: 'Source Sans Pro', sans-serif !important;
    color:#FFFFFF !important;
    margin: 15px 0px 15px 0px !important;
}
label{
    font-size: 17px !important;
    font-weight: 100 !important;
}

.block{
    display: inline-block;
}
.pro_l{
    width:190px;
    text-align: right;
    margin: 1px 0px;
}
.pro_r{
    width: 357px;
    margin: 1px 0px;
}

#space{
    margin-bottom: 30px !important;
}

#id_zipcode{
    width:50% !important;
}

.it15{
    font-style: italic;
    font-size: 15px;
}

.form-group .block input {
    padding: 3px 4px;
    font-size: 15px;
    color: #111111;
    line-height: 1;
    border-radius: 10px;
    margin: 1px 1px;
    height: 33px;
}

.col-xs-6 .form-group {
    margin-bottom: 1px !important;
}
.left{
    margin-left:35%;
    float:left;
    display:inline-block;
}
.right{
    margin: 20px 0px 15px 0px;
    float:right;
    display:inline-block;
}
.center{
    text-align: center;
    padding: 10px 0px;
}

#id_email{
    height: 33px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.428571429;
    color: #555555;
    vertical-align: middle;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    border-radius: 12px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

#id_email:focus