{% extends "zr/base.html" %}
{% load i18n %}
{% load url from future %}

{% block title %}{% trans 'Password reset complete' %}{% endblock %}

{% block navbar %}
    <div class="pagina">
        <img class="logo_op" src="/static/images/ap_maj-11.png" alt=""/>
    </div>
{% endblock %}

{% block extra_head %}
    <link href='/static/css/registration.css' rel='stylesheet' type='text/css'/>
    <link href='/static/css/btn_m.css' rel='stylesheet' type='text/css'/>
{% endblock %}

{% block content %}
    <div class="back_row">
        <div class="center">
            <h1>{% trans 'Password reset complete' %}</h1>

            <p>{% trans "Your password has been set.  You may go ahead and log in now." %}</p>

            <p><a href="{{ login_url }}">{% trans 'Log in' %}</a></p>

        </div>
    </div>
{% endblock %}
