{% extends "zr/base.html" %}
{% load i18n %}
{% load url from future %}

{% block navbar %}
    <div class="pagina">
        <img class="logo_op" src="/static/images/ap_maj-11.png" alt=""/>
    </div>
{% endblock %}

{% block extra_head %}
    <link href='/static/css/registration.css' rel='stylesheet' type='text/css'/>
    <link href='/static/css/btn_m.css' rel='stylesheet' type='text/css'/>
{% endblock %}

{% block content %}
<div class="back_row">
    <div class="center">
        <h2>{% trans "Password reset" %}</h2>

        <p>{% trans "Forgotten your password? Enter your e-mail address below, and we'll e-mail instructions for setting a new one." %}</p>

        <form action="" method="post">{% csrf_token %}
        {{ form.email.errors }}
        <p>
            <label for="id_email">
                {% trans 'E-mail address:' %}
            </label>
            {{ form.email }}
            <input class="btn-b btn-sm-n" type="submit" value="{% trans 'Reset my password' %}" />
        </p>
        </form>
    </div>
</div>
{% endblock %}
