{% extends "zr/base.html" %}
{% load i18n %}
{% load url from future %}

{% block content %}

<div class="panel panel-danger">
  <div class="panel-heading">{% trans 'Delete subscription' %}</div>
  <div class="panel-body">
    <p>{% trans 'You are about to delete subscription' %}</p>
  </div>
   <div class="panel-body">
    <form role="form" action="." method="POST">{% csrf_token %}
        {{ form.as_p }}
		<p class="form-actions">
		
		    <input type="submit" value="Delete" class="btn btn-danger">
		    <a class="btn btn-default" href="{% url 'subscriptions_list' %}">{% trans "Cancel" %}</a>
		</p>
    </form>
    </div>
</div>


    
{% endblock %}